<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Jesús Barahona | Business Engineer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css" />
  <script src="https://kit.fontawesome.com/836a943e18.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" type="image/x-icon" href="/static/images/jesus.ico" />
</head>

<body>
  <header>
    <div class="container">
      <nav>
        <div class="nav-brand">
          <a href="index.htm">
            <img src="/static/images/logo.png" alt="Jesús" />
          </a>
        </div>
        <div class="burger-menu-icon">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#landing-page">
              <img src="/static/images/profile-pic.jpg" alt="Jesús Barahona" class="profile-pic nav-link" />
              <span class="caption nav-link">Jesús Barahona</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#about" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a href="#services" class="nav-link">Services</a>
          </li>
          <li class="nav-item">
            <a href="#projects" class="nav-link">Projects</a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link">Contact</a>
          </li>
          <li class="nav-item">
            <a href="#" target="_blank" class="nav-link">
              <i class="fab fa-youtube"></i>
            </a>
            <a href="#" target="_blank" class="nav-link">
              <i class="fab fa-dev"></i>
            </a>
            <a href="#" target="_blank" class="nav-link">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <div class="cta">
            <a href="#" target="_blank" class="btn nav-link">Buy Me Coffee</a>
          </div>
        </ul>
      </nav>
    </div>
  </header>
  <main>
    <section id="landing-page" class="landing-page">
      <div class="container">
        <div class="main-message">
          <h2>Jesús Barahona</h2>
          <h3>{Business Engineer}</h3>
          <p>Engineering . Businesses . Leadership . TICs . Sostenibility</p>
          <div class="intro-btn">
            <div class="cta">
              <a href="#contact" class="btn">Get In Touch</a>
            </div>
            <div class="cta">
              <a href="#projects" class="btn">My Projects</a>
            </div>
          </div>
          <div>
            <a href="#about" class="scroll-down">
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section id="about" class="about">
      <div class="container">
        <div class="about-img">
          <img src="/static/images/profile-pic.jpg" alt="Chaoo Charles" class="about-pic" />
        </div>
        <div class="about-text-box">
          <h2>Hello 🖖🏼</h2>
          <p>
            My name is Jesús Barahona and I am a Business Engineer graduated from the Higher School of Economics and
            Business in El Salvador. I am a professional who can address challenges in organizations, designing, leading
            and managing technical, efficient, innovative, comprehensive and sustainable solutions that take into
            account human factors and continuous improvement.
          </p>
          <p>
            More than a professional, I am a volunteer for life. All my professional studies I did with scholarships.
            For this reason, I feel committed and encouraged to give back for every help that was once given to me. I
            work with three associations that help young people in difficult situations in our country.
          </p>
          <p>
            In my free time I enjoy singing, going for a walk or cooking crazy dishes. For me, every day is a new
            opportunity to try something new and discover how much we can do for others and for ourselves.
          </p>
        </div>
      </div>
      <hr />
    </section>
    <section id="services" class="services">
      <div class="container">
        <div class="title-heading">
          <h2>DEVELOP YOUR BUSINESS</h2>
          <p>
            I will help you to develop your businnes from every edge, step by step
          </p>
        </div>
        <div class="service-tiers">
          <div class="tier-item">
            <i class="fa fa-mobile" aria-hidden="true"></i>
            <h2>Design Thinking</h2>
            <p>
              We will apply a methodology or process that allows or facilitates the solution of problems, the design and
              development of products and services, using highly motivated teams, and innovation and creativity as
              engines.
            </p>
          </div>
          <div class="tier-item">
            <i class="fa fa-code" aria-hidden="true"></i>
            <h2>Web Development</h2>
            <p>
              We will use this very important tool today. We will build and maintain websites; ensuring that the website
              has an impeccable appearance, fast operation and good performance to allow the best user experience.
            </p>
          </div>
        </div>
      </div>
      <hr />
    </section>
    <section id="projects" class="projects">
      <div class="title-heading">
        <h2>PROJECTS</h2>
        <p>these are some of my recent projects</p>
      </div>
      <div class="project-item">
        <div class="project-img has-margin-right">
          <img src="/static/images/sppms.jpg" />
        </div>
        <div class="project-description">
          <h2>Project on sustainability and environment</h2>
          <p>
            Lectures about sustainable economic growth while promoting jobs and stronger economies. All of the above and
            more while tackling the effects of climate change, pollution and other environmental factors that can harm
            and do harm people's health, livelihoods and lives. Sustainability to include health of the land, air and
            sea.
          </p>
          <a href="https://www.youtube.com/watch?v=lNLrYcVASQU" class="project-link" target="_blank"><i
              class="fa fa-youtube" aria-hidden="true"> View
              Project</i></a>
        </div>
      </div>

      <div class="project-item">
        <div class="project-description has-margin-right">
          <h2>Python console application: Fitnes App</h2>
          <p>
            Development of code for a console-functional application. Using the Python programming language and the
            Visual Studio program. The application offered to the user the control of their fitness process, from their
            diet to their daily exercise, thus presenting graphs that facilitate the user to visualize their process.
          </p>
          <a href="https://github.com/sofiadenice/Entrega-Final---Proyecto-Python-.git" class="project-link"
            target="_blank"><i class="fa fa-github" aria-hidden="true"> View Code</i></a>
        </div>
        <div class="project-img">
          <img src="/static/images/to-do.jpg" />
        </div>
      </div>
      <hr />
    </section>
    <section id="contact" class="contact">
      <h2>Get In Touch</h2>
      <p>
        This can be a great opportunity to share and help you in your business. I would love to know more about you.
      </p>
      <p>
        <i>If you have a dream in your heart and you really believe in it, you run the risk of making it
          <strong>come true</strong>.</i>
      </p>
      <div class="container">
        <p>
          <a href="mailto:jesbarah@gmail.com"><i class="fas fa-envelope-open"></i> jesbarah@gmail.com</a>
        </p>
        <p>
          <a href="https://www.youtube.com/channel/UCukEFegaoa0EOoa-6szfKTA" target="_blank"><i class="fab fa-youtube">
              YouTube</i></a>
        </p>
        <p>
          <a href="https://github.com/Jesusbarah" target="_blank"><i class="fab fa-github"> Github</i></a>
        </p>
        <p>
          <a href="https://twitter.com/Jesbarah" target="_blank"><i class="fab fa-twitter"> Twitter</i></a>
        </p>
      </div>
      <hr />
    </section>
    <footer>
      <div class="footer-nav">
        <a href="#landing-page" class="footer-nav-link">Home</a>
        <a href="#about" class="footer-nav-link">About</a>
        <a href="#services" class="footer-nav-link">Services</a>
        <a href="#projects" class="footer-nav-link">Projects</a>
        <a href="#contact" class="footer-nav-link">Contact</a>
      </div>
      <div class="footer-coded-by">
        <p>
          <i class="fas fa-code"></i> with 💚 by Jesús Barahona &copy; 2021
        </p>
        <p>Develop your business with Design Thinking and extra tools</p>
      </div>
      <div class="footer-social">
        <a href="https://www.youtube.com/channel/UCukEFegaoa0EOoa-6szfKTA" target="_blank"><i
            class="fab fa-youtube"></i></a>
        <a href="https://github.com/Jesusbarah" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://twitter.com/Jesbarah" target="_blank"><i class="fab fa-twitter"></i></a>
      </div>
    </footer>
  </main>
  <script src="/static/main.js"></script>
</body>

</html>